/.quarto/
/_site/
.vscode
tics411/notebooks/preguntas-prueba.ipynb
tics579/notebooks/control-2.ipynb
tics579/notebooks/control-3.ipynb
tics579/notebooks/Tarea-1.ipynb
tics579/notebooks/Tarea-2.ipynb
tics579/notebooks/CATS_DOGS
tics579/notebooks/CATS_DOGS.zip
*.zip
