.reveal .slide-logo {
    height: 55px !important;
    width: 220px !important;
    max-width: unset !important;
    max-height: unset !important;
}

.center h1 {
    text-align: center;
}

.reveal code {
    color: #ff5555;
    max-height: 100% !important;
}
